:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* *Components  */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  margin-left: auto;
  border-radius: 5px;
}
/* Components  */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* sidebar */
.sidebar {
  width: 220px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: -29px;
    border: 4px solid white;
  }
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
  font-weight: 600;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    margin-bottom: 15px;
    font-size: 13px;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* sidebar */
/*Content*/
.content .search::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  font-size: 14px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}
.content .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: var(--main-transition);
}
.content .search input:focus {
  width: 200px;
}
.content .search input:focus::placeholder {
  color: transparent;
}
.head .icons .notification {
  cursor: pointer;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  border-radius: 50%;
}
.page h1 {
  margin: 20px 20px 40px;
  letter-spacing: -2px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
/*Content*/
/* Widget */
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  border: 2px solid white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  padding: 2px;
  margin-left: 20px;
  margin-top: -32px;
  box-shadow: 0 0 5px #ddd;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.body > div {
  flex: 1;
}
.welcome .visit {
  transition: var(--main-transition);
  margin: 0 15px 15px auto;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* Widget */
/* Quick-Draft */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  cursor: pointer;
  transition: var(--main-transition);
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* Quick-Draft */
/* Targets */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: calc(-31.53px / 2);
  padding: 2px 5px;
  font-size: 14px;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.money .icon,
.money .progress {
  background-color: rgb(0, 117, 255, 0.2);
}
.targets .details .progress > .money span::after {
  border-top-color: var(--blue-color);
}
.projects .icon,
.projects .progress {
  background-color: rgb(245, 158, 11, 0.2);
}
.targets .details .progress > .projects span::after {
  border-top-color: var(--orange-color);
}
.team .icon,
.team .progress {
  background-color: rgb(34, 197, 94, 0.2);
}
.targets .details .progress > .team span::after {
  border-top-color: var(--green-color);
}
/* Targets */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* Tickets */
/* Latest News */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px;
  margin-right: 15px;
  border-radius: 5px;
}
.latest-news .news-row .inf {
  flex-grow: 1;
}
.latest-news .news-row .inf h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
}
@media (max-width: 767px) {
  .latest-news .news-row p {
    margin: 0 0 10px 0;
  }
}
/* Latest News */
/* Tasks */
.tasks .task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.tasks .task-row .inf {
  flex-grow: 1;
}
.tasks .task-row .delete {
  transition: var(--main-transition);
  cursor: pointer;
}
.tasks .task-row .delete:hover {
  color: var(--red-color);
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
/* Tasks */
/* Latest-Uploads */
.latest-uploads .uploads-row:not(:last-of-type) {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.latest-uploads img {
  width: 40px;
  height: 40px;
}
.latest-uploads .uploads-row .inf {
  flex-grow: 1;
}
.latest-uploads .uploads-row .inf > span {
  font-weight: 500;
}
/* Latest-Uploads */
/* Last-Projects */
.last-project ul::before {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  height: 100%;
  width: 3px;
  left: 10px;
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  display: block;
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  opacity: 0.3;
}
/* Last-Projects */
/* Reminders */
.reminders ul li > span {
  width: 15px;
  height: 15px;
  animation: blink 4s infinite;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
.reminders ul li .key-green {
  animation-delay: 1s;
}
.reminders ul li .key-orange {
  animation-delay: 2s;
}
.reminders ul li .key-red {
  animation-delay: 3s;
}
/* Reminders */
/* Latest-Post */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 180px;
}
.latest-post .post-stats i {
  cursor: pointer;
}
/* Latest-Post */
/* Social Media Stats  */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: var(--main-transition);
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .face {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.social-media .face i,
.social-media .face a {
  background-color: #1877f2;
}
.social-media .insta {
  background-color: rgb(225 48 108 / 20%);
  color: #e1306c;
}
.social-media .insta i,
.social-media .insta a {
  background-color: #e1306c;
}
.social-media .tik {
  background-color: rgb(0 0 0 / 20%);
  color: black;
}
.social-media .tik i,
.social-media .tik a {
  background-color: black;
}
.social-media .linkedin {
  background-color: rgb(10 102 194 / 20%);
  color: #0a66c2;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0a66c2;
}
.social-media .btn-shape {
  transition: var(--main-transition);
}
.social-media .face .btn-shape:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 10px#0a66c2);
}
.social-media .insta .btn-shape:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 10px #e1306c);
}
.social-media .tik .btn-shape:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 10px black);
}
.social-media .linkedin .btn-shape:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 5px 10px #0a66c2);
}
/* Social Media Stats  */
/* Projects Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  font-weight: 500;
  transition: var(--main-transition);
}
.projects tbody td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* Projects Table */
/* Settings */
/* Components  */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  display: block;
  position: relative;
  background-color: #ccc;
  height: 32px;
  width: 78px;
  border-radius: 15px;
  transition: var(--main-transition);
  cursor: pointer;
}
.toggle-switch::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}
/* Components  */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.settings-page .close-message {
  resize: none;
  min-height: 150px;
  border: 1px solid #ccc;
}
.settings-page .email:disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.security-info .sec-box .change {
  transition: var(--main-transition);
}
.security-info .sec-box .change:hover {
  background-color: var(--blue-alt-color);
}
.social-info i {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  background-color: #f6f6f6;
  border-right: none;
  transition: var(--main-transition);
}
.social-info input {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: #f6f6f6;
  padding-left: 10px;
}
.social-info div:focus-within i {
  color: black;
}
.widgets-control .control label {
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
.widgets-control .control input[type="checkbox"] {
  display: none;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control label::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: var(--main-transition);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.backup-control input[type="radio"] {
  display: none;
}
.backup-control .date label {
  padding-left: 30px;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.backup-control .date label::after {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  left: 4px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: var(--main-transition);
  transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-control .servers {
  border-top: 2px solid #eee;
}
@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
  transition: var(--main-transition);
  border-radius: 10px;
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* Settings */
/* Profile */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .progress {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 100%;
}
.profile-page .avatar-box .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 5px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: var(--main-transition);
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}
@media (max-width: 767px) {
  .profile-page .info-box .box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .other-data .skills {
  flex-grow: 1;
}
.profile-page .other-data .skills ul li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.profile-page .other-data .skills ul li:hover {
  background-color: #f9f9f9;
}
.profile-page .other-data .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .other-data .skills ul li span {
  background-color: #eee;
  border-radius: 5px;
  display: inline-flex;
  font-size: 14px;
}
.profile-page .other-data .skills ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .other-data .activites {
  flex-grow: 2;
}
.profile-page .other-data .activites img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.profile-page .other-data .activites .activity {
  transition: var(--main-transition);
}
.profile-page .other-data .activites .activity:hover {
  background-color: #f9f9f9;
}
.profile-page .other-data .activites .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .profile-page .other-data .activites .activity .date {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .profile-page .other-data .activites .activity {
    flex-direction: column;
  }
  .profile-page .other-data .activites .activity img {
    margin: 0 0 10px;
  }
  .profile-page .other-data .activites .activity .date {
    margin-top: 15px;
  }
}
/* Profile */
/* Projects  */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 2;
}
.projects-page .project .team a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects-page .project .techs {
  border-top: 1px solid #eee;
  justify-content: flex-end;
  padding-top: 15px;
  margin-top: 15px;
}
.projects-page .project .techs span {
  margin-left: 5px;
  width: fit-content;
}
@media (max-width: 767px) {
  .projects-page .project .techs {
    flex-direction: column;
  }
  .projects-page .project .techs span:not(:last-child) {
    margin: 0 0 15px 5px;
  }
}
.projects-page .project .info {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}
.projects-page .project .prog {
  position: relative;
  height: 8px;
  width: 260px;
  border-radius: 6px;
}
.projects-page .project .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .projects-page .project .info {
    flex-direction: column;
  }
  .projects-page .project .prog {
    margin-bottom: 15px;
  }
}
/* Projects  */
/* Courses */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
}
.courses-page .course .instructor {
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 64px;
  height: 64px;
  top: 20px;
  left: 20px;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13px;
}
/* Courses */
/* Friends */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
  left: 10px;
  top: 10px;
}
.friends-page .friend .contact i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  font-size: 13px;
  transition: var(--main-transition);
}
.friends-page .friend .contact .wa:hover > i {
  background-color: #23bb5b;
  color: white;
}
.friends-page .friend .contact .phone:hover > i {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friend .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: black;
  font-weight: 500;
}
.friends-page .friend .icons i {
  margin-right: 5px;
}
.friends-page .friend .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.3;
}
/* Friends */
/* Files  */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
  margin: 15px auto;
  padding: 10px 15px;
  transition: var(--main-transition);
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file > i {
  cursor: pointer;
  transition: var(--main-transition);
}
.files-page .files-content .file > i:hover {
  transform: scale(1.1);
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  transition: var(--main-transition);
}
.files-page .files-content img:hover {
  transform: rotate(5deg);
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}
/* Files  */
/* Plans */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 26px;
}
.plans-page .plan ul li {
  padding: 15px 0;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 10px;
}
.plans-page .plan ul li i.yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red-color);
}
.plans-page .plan ul li i.help {
  margin-left: auto;
  color: var(--grey-color);
  cursor: pointer;
}
/* Plans */
/* Animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* Animation */
